
/*=============================== TEMPLATE STYLES BEGIN ================================*/

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overscroll-behavior-y: contain;

}

.container {
  position: relative;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

/*=============================== PERSONAL STYLES BEGIN ================================*/

.nav {
  background:rgba(246,246,246,0.8);
}

/*=============================== Floating menu button ================================*/
/*=============================== icons from icons8 & noun project ================================*/

a { color:white }

.floatback{
	position:fixed;
	width:70px;
	height:70px;
	top:35px;
	left:35px;
	background-color:#C4C4C4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  pointer-events: auto;
  z-index: 9999;
}

.floatbackopen{
	position:fixed;
	width:210px;
	height:70px;
	top:35px;
	left:35px;
	background-color:#C4C4C4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  pointer-events: auto;
  z-index: 9999;

}

.float-note{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:40px;
  background-image: url('../icons/note.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-x{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:40px;
  background-image: url('../icons/x.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#FE5C47;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-scribble{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:180px;
  background-image: url('../icons/scribble.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-vector-scribble{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:180px;
  background-image: url('../icons/vectorscribble.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-pin{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:110px;
  background-image: url('../icons/pin.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-highlight{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:110px;
  background-image: url('../icons/highlight.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-videoframe{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:110px;
  background-image: url('../icons/videoframe.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

/*=============================== Contextual floating menu button ================================*/
#contextualmenu {
    position:absolute;
    display:none;
    width:210px;
  	height:70px;
    background-color:#C4C4C4;
    color:#FFF;
  	border-radius:50px;
    text-align:center;
    pointer-events: auto;
    z-index:9999;
}

.contextualbuttons {
  position: relative;
  z-index:9999;
}

#cal1{
    position:absolute;
    height:0px;
    width:0px;
    top:100px;
    left:100px;
    overflow:none;
    z-index:-100;
}
#cal2{
    position:absolute;
    height:0px;
    width:0px;
    top:0px;
    left:0px;
    overflow:none;
    z-index:-100;
}

.float-headset{
	position: absolute;
	width:60px;
	height:60px;
	left: 5px;
  top: 5px;
  background-image: url('../icons/headset.png');
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

input[type="file"] {
    display: none;
}

.float-screenshot{
	position: absolute;
	width:60px;
	height:60px;
	top: 5px;
	left: 75px;
  background-image: url('../icons/screenshot.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float-draw{
	position: absolute;
	width:60px;
	height:60px;
	top: 5px;
	left: 145px;
  background-image: url('../icons/draw.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;

}

.float1{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:40px;
	background-color:#FE5C47;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:110px;
  background-image: url('../icons/scribble.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
}

.float3{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:180px;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
}

.float4{
	position:fixed;
	width:60px;
	height:60px;
	top:40px;
	left:250px;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
}

.my-float{
	margin-top:17px;
  color:white;
}

.iconScribble {
    background: url('../icons/scribble.png');
    height: 20px;
    width: 20px;
    /* Other styles here */
}

/*=============================== interval classes ================================*/
.intervaldiv{
	position:absolute;
	width:250px;
	height:90px;
	top:35px;
	right:35px;
	background-color:#FEF857;
	color:#FFF;
	border-radius:5px;
	text-align:center;
  pointer-events: auto;
  z-index: 9999;
}

.intervaltext{
	position:absolute;
	width:250px;
	top:12px;
  font-size: 18px;
	color:#000;
	text-align:center;
  pointer-events: auto;
  z-index: 9999;
}

.intervalbutton{
	position:absolute;
	width:100px;
	height:25px;
	bottom:12px;
  left:75px;
  box-shadow: 2px 2px 3px #999;
  background-color: #4CAF50 !important; /* Green */
	color:#FFF;
	border-radius:5px;
	text-align:center;
  pointer-events: auto;
  z-index: 9999;
  font-size: 16px !important;
}



/*=============================== canvas ================================*/

.canvas-x{
	position:absolute;
	width:45px;
	height:45px;
	top:10px;
	left:10px;
  background-image: url('../icons/x.png');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#FE5C47;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;
}

.canvas-text{
	position:absolute;
	width:45px;
	height:45px;
	top:10px;
	right:65px;
  background-image: url('../icons/text.png');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;
}

.pressed{
  background-color:#415560 !important;
}

.canvas-scribble{
	position:absolute;
	width:45px;
	height:45px;
	top:10px;
	right:10px;
  background-image: url('../icons/scribble.png');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#769AAA;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;
}

.canvas-confirm{
	position:absolute;
	width:100px;
	height:45px;
	bottom:10px;
	right:10px;
  background-image: url('../icons/confirm.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
	background-color:#4cd964;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  pointer-events: auto;
  z-index: 9999;
}

/*=============================== canvas ================================*/
.textarea {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  font-family: inherit;
  font-size: 80px;
  padding: 1px 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 80px;
  line-height: 90px;
}

.textarea_map {
  border: 1px solid #ccc;
  background-color: whitesmoke;
  font-family: inherit;
  font-size: 40px;
  padding: 1px 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 45px;
}

/*=============================== video canvas ================================*/

.video-canvas{

}

.video-js .vjs-time-control {
    display: block;
}

/*=============================== Floating button ================================*/

body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}
